:root {
  --fields-color: #F7F7F7;
}
/*Global rules*/

html {
  scroll-behavior: smooth;
}

/* Start Global Rules */

body {
  min-height: 100vh;
  font-family: "Poppins", serif;


  
}
@media (min-width: 992px) {
  body {
    overflow: hidden;
  }

}
h1, h2 {
  font-family: "Playfair Display", serif;
  
}
h2{
  font-weight: bold;

}
h1{
  font-weight: 1000;
}


.page2{
  display: none;
}
#prevButton{
  display:none;
}


.font-weight-bold {
  font-weight: 700 !important;
}
label{
  font-size: 14px;
}
form button{
  background-color: #000;
  border: none;
  padding: 4px;
}
form button:hover{
  background-color: rgb(50, 46, 46);
}

form input {
  background-color: var(--fields-color);
  border:1px solid black;


}
form input:focus {
  border :1px sandybrown;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25em;
}